img{
    width: 300px;
    margin-left: 200px;
    margin-top: 100px;
    transition: all 2s;
}

.img1 :hover{
  transform: translateX(100px);
   
}
.img2 :hover{
    transform: translateY(100px);
}
.img3 :hover{
    transform: translate(100px,100px);
}
.img6 :hover {
    transform: rotate(45deg);
}
.img5 :hover{
  transform-origin: 0px 0px;
    transform: rotate(45deg);
}
.img4 :hover{
    transform: rotateY(180deg);
    
}
