body{ 
    background-color: rgb(84, 84, 85);
}
.main{
    height: 40px;
    position: relative;
    top: 600px;
}
.main2{
    height: 100px;
    position: relative;
    top: 430px;
}
.img1{
   
  margin-left: 20px;
  margin-right: 20px;
  
}
.img2{
   
    left: 205px;
     margin-left: 10px;
}
.img3{
   
    left: 410px;
     margin-left: 10px;
}
.img4{
   
    left: 615px;
     margin-left: 10px;
}
.img5{
    
    left: 820px;
     margin-left: 10px;
}
.img6{
 
    left: 1025px;
     margin-left: 10px;
}
.img7{
   
    left: 1230px;
     margin-left: 10px;
}
.img1,.img2, .img3, .img4 ,.img5 ,.img6 ,.img7{
    
     position: absolute;
    width: 200px;
    height: 30px;
    background-color: rgb(181, 184, 187);
    margin-left: 50px;
  margin-right: 50px;

}
.glass{
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
    filter: opacity(0%);
    transition: 2s;
    filter: blur(100px);
}
.glass2{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 50px;
    transition: 3s;
   
  

    }
.glass3{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 255px;
    transition: 3s;
    

}
.glass4{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 460px;
    transition: 3s;

}
.glass5{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 665px;
    transition: 3s;

}
.glass6{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 870px;
    transition: 3s;

}
.glass7{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 1075px;
    transition: 3s;

}
.glass8{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 1280px;
    transition: 3s;

}
.image{
    height: 100%;
    width: 100%;
    filter: opacity(0%);
    transition: 2s;
    

}

.glass:hover{
     filter: opacity(100%);
     filter: blur(3px);
     
   
}
.main:has(.img2:hover) ~ .main2 .glass3 .image {
   filter: opacity(100%);
   transform: translateY(29px);
}
.main:has(.img1:hover) ~ .main2 .glass2 .image {
   filter: opacity(100%);
   transform: translateY(29px);
}
.main:has(.img3:hover) ~ .main2 .glass4 .image {
   filter: opacity(100%);
   transform: translateY(29px);
}
.main:has(.img4:hover) ~ .main2 .glass5 .image {
   filter: opacity(100%);
   transform: translateY(29px);
}
.main:has(.img5:hover) ~ .main2 .glass6 .image {
   filter: opacity(100%);
   transform: translateY(29px);
}
.main:has(.img6:hover) ~ .main2 .glass7 .image {
   filter: opacity(100%);
   transform: translateY(29px);
}
.main:has(.img7:hover) ~ .main2 .glass8 .image {
   filter: opacity(100%);
   transform: translateY(29px);
}